@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Tailwind의 bg-blue-400 색상 적용 */
  background-color: rgba(
    96,
    165,
    250,
    var(--tw-bg-opacity)
  ); /* 이는 Tailwind CSS의 bg-blue-400에 해당 */
  --tw-bg-opacity: 1; /* 배경색의 불투명도 설정 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
